<%= render "events/event_button" %>
<div class="row">
  <div col-md-12>
    <h3>
      <%= t('activerecord.attributes.notice_board.request') %>
    </h3>
  </div>
  <div col-md-12>
    <%# 画面サイズがmd lg xl の時に表示%>
    <table class="table table-bordered d-none d-sm-block d-sm-none d-md-block" id="event-table">
      <thead class="thead-dark table-active">
        <tr>
          <th scope="col"><%= t('activerecord.attributes.notice_board.created_at') %></th>
          <th scope="col"><%= t('activerecord.attributes.notice_board.user_name') %></th>
          <th scope="col"><%= t('activerecord.attributes.language.name') %></th>
          <th scope="col"><%= t('activerecord.attributes.notice_board.request_content') %></th>
        
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @notice_boards.each_with_index do |n, i| %>
          <tr>
            <td><%= n.language.created_at.strftime("%Y/%m/%d (%a)") %></td>
            <td><%= n.user.translated_name %></td>
            <td><%= n.language.translated_name %></td>
            <td><%= simple_format(n.note) %></td>
            <% if current_user.id == n.user_id %>
              <td>
                <%= link_to t('activerecord.attributes.button.edit'), edit_notice_board_path(id: n.id), class:"btn btn-warning button-margin" %>
                <%= link_to t('activerecord.attributes.button.delete'), notice_board_path(id: n.id), method: :delete, 
                  data: {confirm:"本当にこのリクエストを削除しますか？"}, class:"btn btn-danger button-margin" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>


    <%# 画面サイズが xs sm の時に表示%>
    <table class="table table-bordered d-md-none d-lg-block d-lg-none d-xl-block d-xl-none" id="small-display-event-table">
      <% @notice_boards.each_with_index do |n, i| %>
        <tbody>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.notice_board.created_at') %></th>
            <td><%= n.language.created_at.strftime("%Y/%m/%d (%a)") %></td>
          </tr>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.notice_board.user_name') %></th>
            <td><%= n.user.translated_name %></td>
          </tr>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.language.name') %></th>
            <td><%= n.language.translated_name %></td>
          </tr>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.notice_board.request_content') %></th>
            <td><%= simple_format(n.note) %></td>
          </tr>
          <tr>
            <td colspan="2">
              <% if current_user.id == n.user_id %>
                <%= link_to t('activerecord.attributes.button.edit'), edit_notice_board_path(id: n.id), class:"btn btn-warning button-margin" %>
                <%= link_to t('activerecord.attributes.button.delete'), notice_board_path(id: n.id), method: :delete, 
                  data: {confirm:"本当にこのリクエストを削除しますか？"}, class:"btn btn-danger button-margin" %>
              <% end %> 
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>

