<%= render "events/event_button" %>
<%= link_to t('activerecord.attributes.notice_board.create'), new_notice_board_path, class:"btn btn-warning button-margin pull-right" %>
<h3>
  <%= t('activerecord.attributes.notice_board.request') %>
</h3>
<h4><%= simple_format(t('activerecord.attributes.notice_board.making_event_invitation', current_user: current_user.translated_name)) %></h4>
<hr>
<% if @notice_boards.count > 0 %>
  <%# 画面サイズが md lg xlの時に表示%>
  <table class="table table-bordered table-hidden" id="event-table">
    <thead class="thead-dark table-active">
      <tr>
        <th><%= t('activerecord.attributes.notice_board.created_at') %></th>
        <th><%= t('activerecord.attributes.notice_board.user_name') %></th>
        <th><%= t('activerecord.attributes.language.name') %></th>
        <th><%= t('activerecord.attributes.notice_board.request_content') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @notice_boards.each_with_index do |n, i| %>
        <tr>
          <td><%= n.created_at.strftime("%Y/%m/%d (%a)") %></td>
          <td><%= n.user.translated_name %></td>
          <td><%= n.language.translated_name %></td>
          <td><%= truncate(strip_tags(n.note), length:100) %></td>
          <td><%= link_to t('activerecord.attributes.button.show'), notice_board_path(id: n), class:"btn btn-success button-margin" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <%# 画面サイズがxs sm の時に表示%>
  <% @notice_boards.each_with_index do |n, i| %>
    <table class="table table-bordered d-xs-block d-md-none" id="small-display-event-table">
      <tbody>
        <tr>
          <th><%= t('activerecord.attributes.notice_board.created_at') %></th>
          <td><%= n.created_at.strftime("%Y/%m/%d (%a)") %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.notice_board.user_name') %></th>
          <td><%= n.user.translated_name %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.language.name') %></th>
          <td><%= n.language.translated_name %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.notice_board.request_content') %></th>
          <td><%= truncate(strip_tags(n.note), length:100) %></td>
        </tr>
        <tr>
          <td colspan="2"><%= link_to t('activerecord.attributes.button.show'), notice_board_path(id: n), class:"btn btn-success button-margin" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h4><%= t('activerecord.attributes.notice_board.no_request') %></h4 >
<% end %>
  
