<%= render "event_button" %>
<div class="row">
  <div col-md-12>
    <h3>
      <%= t('activerecord.attributes.event.hosting') %>
    </h3>
  </div>
  <div col-md-12>
    <table class="table">
      <thead class="thead-dark table-active">
        <tr>
          <th scope="col"><%= t('activerecord.attributes.event.date') %></th>
          <th colspan="2" scope="col"><%= t('activerecord.attributes.event.title') %></th>
          <th scope="col"><%= t('activerecord.attributes.event.number') %></th>
          <th scope="col"><%= t('activerecord.attributes.event.receiving_point') %></th>
          <th scope="col"><%= t('activerecord.attributes.button.show') %></th>
          <th scope="col"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @events.each do |e| %>
          <% if e.point == 0 %>
            <% actual_point = 0 %>
          <% elsif e.point >= 4 && e.point <= 15 %>
            <% actual_point = e.point - 2 %>
          <% elsif e.point >= 16 && e.point <= 25 %>
            <% actual_point = e.point - 3 %>
          <% elsif e.point >= 26 && e.point <= 35 %>
            <% actual_point = e.point - 4 %>
          <% elsif e.point >= 36 && e.point <= 45 %>
            <% actual_point = e.point - 5 %>
          <% elsif e.point >= 46 && e.point <= 55 %>
            <% actual_point = e.point - 6 %>
          <% elsif e.point >= 56 && e.point <= 65 %>
            <% actual_point = e.point - 7 %>
          <% elsif e.point >= 66 && e.point <= 75 %>
            <% actual_point = e.point - 8 %>
          <% elsif e.point >= 76 && e.point <= 85 %>
            <% actual_point = e.point - 9 %>
          <% elsif e.point >= 86 %>
            <% actual_point = e.point - 10 %>
          <% end %>

          <tr>
            <th scope="row"><%= "#{e.date.strftime("%Y/%m/%d (%a) %H:%M")}" %></th>
            <td colspan="2"><%= e.title %></td>
            <td><%= e.tickets.count %></td>
            <td><%= e.tickets.count * actual_point.to_i %><%= "pt" %></td>
            <td><%= link_to t('activerecord.attributes.button.show'), event_path(id: e.id, type: params[:type]), class:"btn btn-success btn-sm " %></td>
            <% if e.point_process == false %>
              <td><%= link_to t('activerecord.attributes.event.add_point'), add_point_events_path(id: e.id, giving_point: e.tickets.count * actual_point.to_i), method: :post, class:"btn btn-warning btn-sm " %></td>
            <% else %>
              <td><%= link_to t('activerecord.attributes.event.proccessed'), hosting_events_path, class:"btn btn-secondary btn-sm disabled " %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

