<%= render "event_button" %>

<h3>
  <%= t('activerecord.attributes.event.all') %>
</h3>
<hr>

<% if @events.count > 0 %>
  <%# 画面サイズが md lg xlの時に表示%>
  <table class="table table-bordered d-none d-md-block" id="all-event-table">
    <thead class="thead-dark table-active ">
      <tr>
        <th><%= t('activerecord.attributes.event.date') %></th>
        <th><%= t('activerecord.attributes.event.title') %></th>
        <th><%= t('activerecord.attributes.event.organizer') %></th>
        <th><%= t('activerecord.attributes.button.show') %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @events.each do |e| %>
        <tr>
          <td><%= "#{e.date.strftime("%Y/%m/%d (%a) %H:%M")}" %></td>
          <td><%= e.title %></td>
          <td><%= User.find(e.user_id).translated_name %></td>
          <% if current_user.present? && e.tickets.pluck(:user_id).include?(current_user.id) %>
            <td><%= link_to t('activerecord.attributes.event.joining'), event_path(id: e.id), class:"btn btn-danger btn-sm disabled" %> </td>
          <% elsif e.limit_number == e.tickets.count %>
            <td><%= link_to t('activerecord.attributes.event.fully_booked'), event_path(id: e.id), class:"btn btn-warning btn-sm disabled" %></td>
          <% elsif current_user.present? && e.user_id == current_user.id %>
            <td><%= link_to t('activerecord.attributes.event.hosting'), event_path(id: e.id), class:"btn btn-success btn-sm disabled" %></td>
          <% else %>
            <td><%= link_to t('activerecord.attributes.button.show'), event_path(id: e.id), class:"btn btn-success btn-sm" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%# 画面サイズがxs sm の時に表示%>
  <table class="table table-bordered d-xs-block d-md-none" id="small-display-event-table">
    <% @events.each do |e| %>
      <tbody>
        <tr>
          <th><%= t('activerecord.attributes.event.date') %></th>
          <td><%= "#{e.date.strftime("%Y/%m/%d (%a) %H:%M")}" %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.event.title') %></th>
          <td><%= e.title %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.event.organizer') %></th>
          <td><%= User.find(e.user_id).translated_name %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.button.show') %></th>
          <% if current_user.present? && e.tickets.pluck(:user_id).include?(current_user.id) %>
            <td><%= link_to t('activerecord.attributes.event.joining'), event_path(id: e.id), class:"btn btn-danger btn-sm disabled" %> </td>
          <% elsif e.limit_number == e.tickets.count %>
            <td><%= link_to t('activerecord.attributes.event.fully_booked'), event_path(id: e.id), class:"btn btn-warning btn-sm disabled" %></td>
          <% elsif current_user.present? && e.user_id == current_user.id %>
            <td><%= link_to t('activerecord.attributes.event.hosting'), event_path(id: e.id), class:"btn btn-success btn-sm disabled" %></td>
          <% else %>
            <td><%= link_to t('activerecord.attributes.button.show'), event_path(id: e.id), class:"btn btn-success btn-sm" %></td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
<% else %>
  <h4><%= t('activerecord.attributes.event.no_event') %></h4 >
<% end %>



