<%= render "event_button" %>

<h3>
  <%= t('activerecord.attributes.event.all') %>
</h3>
<h4><%= simple_format(t('activerecord.attributes.event.event_invitation', current_user: current_user.translated_name)) %></h4>

<% if @events.count > 0 %>
  <%# 画面サイズが md lg xlの時に表示%>
  <table class="table table-bordered d-none d-md-block" id="all-event-table">
    <thead class="thead-dark table-active ">
      <tr>
        <th><%= t('activerecord.attributes.event.language') %></th>
        <th><%= t('activerecord.attributes.event.date') %></th>
        <th><%= t('activerecord.attributes.event.title') %></th>
        <th><%= t('activerecord.attributes.event.organizer') %></th>
        <th><%= t('activerecord.attributes.button.show') %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @events.each do |e| %>
        <tr>
          <td><%= e.language.translated_name %></td>
          <td><%= "#{e.date.strftime("%Y/%m/%d (%a) %H:%M")}" %></td>
          <td><%= e.title %></td>
          <td><%= User.find(e.user_id).translated_name %></td>
          <td>
            <% if current_user.present? && e.tickets.pluck(:user_id).include?(current_user.id) %>
              <%= link_to t('activerecord.attributes.event.joining'), event_path(id: e.id), class:"btn btn-danger btn-sm disabled button-margin" %> 
            <% elsif e.limit_number == e.tickets.count %>
              <%= link_to t('activerecord.attributes.event.fully_booked'), event_path(id: e.id), class:"btn btn-warning btn-sm disabled button-margin" %>
            <% elsif current_user.present? && e.user_id == current_user.id %>
              <%= link_to t('activerecord.attributes.event.hosting'), event_path(id: e.id), class:"btn btn-success btn-sm disabled button-margin" %>
            <% else %>
              <%= link_to t('activerecord.attributes.button.show'), event_path(id: e.id), class:"btn btn-success btn-sm button-margin" %>
            <% end %>
            <% if e.point == 0 %>
              <%= link_to t('activerecord.attributes.event.free'), events_path, class:"btn btn-warning button-circle btn-sm disabled button-margin" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%# 画面サイズがxs sm の時に表示%>
  <% @events.each do |e| %>
    <table class="table table-bordered d-xs-block d-md-none" id="small-display-event-table">
      <tbody>
        <tr>
          <th><%= t('activerecord.attributes.event.language') %></th>
          <td><%= e.language.translated_name %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.event.date') %></th>
          <td><%= "#{e.date.strftime("%Y/%m/%d (%a) %H:%M")}" %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.event.title') %></th>
          <td><%= e.title %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.event.organizer') %></th>
          <td><%= User.find(e.user_id).translated_name %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.button.show') %></th>
          <td>
            <% if current_user.present? && e.tickets.pluck(:user_id).include?(current_user.id) %>
              <%= link_to t('activerecord.attributes.event.joining'), event_path(id: e.id), class:"btn btn-danger btn-sm disabled button-margin" %> 
            <% elsif e.limit_number == e.tickets.count %>
              <%= link_to t('activerecord.attributes.event.fully_booked'), event_path(id: e.id), class:"btn btn-warning btn-sm disabled button-margin" %>
            <% elsif current_user.present? && e.user_id == current_user.id %>
              <%= link_to t('activerecord.attributes.event.hosting'), event_path(id: e.id), class:"btn btn-success btn-sm disabled button-margin" %>
            <% else %>
              <%= link_to t('activerecord.attributes.button.show'), event_path(id: e.id), class:"btn btn-success btn-sm button-margin" %>
            <% end %>
            <% if e.point == 0 %>
              <%= link_to t('activerecord.attributes.event.free'), events_path, class:"btn btn-warning button-circle btn-sm disabled button-margin" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h4><%= t('activerecord.attributes.event.no_event') %></h4 >
<% end %>

