<%= render "event_button" %>

<h3>
  <%= t('activerecord.attributes.event.joining') %>
</h3>

<%# 画面サイズが md lg xlの時に表示%>
<table class="table table-bordered table-hidden" id="all-event-table">
  <thead class="thead-dark table-active">
    <tr>
      <th><%= t('activerecord.attributes.event.language') %></th>
      <th scope="col"><%= t('activerecord.attributes.event.date') %></th>
      <th colspan="2" scope="col"><%= t('activerecord.attributes.event.title') %></th>  
      <th scope="col"><%= t('activerecord.attributes.event.organizer') %></th>
      <th scope="col"><%= t('activerecord.attributes.button.show') %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @events.each do |e| %>
      <tr>
        <td><%= e.language.translated_name %></td>
        <td><%= e.date.in_time_zone(TimeZone.find(current_user.time_zone_id).en_name).to_datetime.strftime("%Y/%m/%d (%a) %H:%M") %></td>
        <td colspan="2"><%= e.title %></td>
      <% if params[:type] == "hosting" %>
        <td><%= e.tickets.count %></td>
        <td><%= e.tickets.count * e.point.to_i %><%= "pt" %></td>
      <% else %>
        <td><%= User.find(e.user_id).translated_name %></td>
      <% end %>
        <td>
          <%= link_to t('activerecord.attributes.button.show'), event_path(id: e.id, type: params[:type], target_page: "joining"), class:"btn btn-success btn-sm button-margin" %>
          <%# グーグルカレンダーに予定を追加 %>
          <% start_time = e.date.in_time_zone(TimeZone.find(current_user.time_zone_id).en_name).to_datetime - Rational(5, 24 * 60) %>
          <% end_time = start_time + Rational((e.length), 24 * 60)  %>
          <%= link_to("https://www.google.com/calendar/render?action=TEMPLATE&text=#{e.title}&dates=#{start_time.strftime("%Y%m%dT%H%M")}/#{end_time.in_time_zone(TimeZone.find(current_user.time_zone_id).en_name).to_datetime.strftime("%Y%m%dT%H%M")}&location=#{e.location}&details=#{e.content}",  target:"_blank", rel:"noopener noreferrer") do %>
            <button class="btn btn-danger btn-sm button-margin"><%= t('activerecord.attributes.event.google_calendar') %></button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%# 画面サイズがxs sm の時に表示%>
<% @events.each do |e| %>
  <table class="table table-bordered d-xs-block d-md-none" id="small-display-event-table">
    <tbody>
      <tr>
        <th><%= t('activerecord.attributes.event.language') %></th>
        <td><%= e.language.translated_name %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.event.date') %></th>
        <td scope="row"> <%= e.date.in_time_zone(TimeZone.find(current_user.time_zone_id).en_name).to_datetime.strftime("%Y/%m/%d (%a) %H:%M") %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.event.title') %></th>  
        <td><%= e.title %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.event.organizer') %></th>
        <td><%= User.find(e.user_id).translated_name %></td>
      </tr>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.button.show') %></th>
        <td>
          <%= link_to t('activerecord.attributes.button.show'), event_path(id: e.id, type: params[:type], target_page: "joining"), class:"btn btn-success btn-sm " %>
          <%# グーグルカレンダーに予定を追加 %>
          <% start_time = e.date.in_time_zone(TimeZone.find(current_user.time_zone_id).en_name).to_datetime - Rational(5, 24 * 60) %>
          <% end_time = start_time + Rational((e.length), 24 * 60)  %>
          <%= link_to("https://www.google.com/calendar/render?action=TEMPLATE&text=#{e.title}&dates=#{start_time.strftime("%Y%m%dT%H%M")}/#{end_time.in_time_zone(TimeZone.find(current_user.time_zone_id).en_name).to_datetime.strftime("%Y%m%dT%H%M")}&location=#{e.location}&details=#{e.content}", target:"_blank", rel:"noopener noreferrer") do %>
            <button class="btn btn-danger btn-sm button-margin"><%= t('activerecord.attributes.event.google_calendar') %></button>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
