<%= render "event_button" %>
 <div class="row">
   <h3><%= t('activerecord.attributes.event.sales_management') %></h3>
 </div>
 <div col-md-12>
  <table class="table">
    <thead class="thead-dark table-active">
      <tr>
        <th scope="col"><%= t('activerecord.attributes.event.organizer') %></th>
        <th scope="col"><%= t('activerecord.attributes.event.sale') %></th>
        <th scope="col"><%= t('activerecord.attributes.event.transfer_status') %></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>