<div class="jumbotron">
  <h2 class="display-4"><%= @event.title %></h2>
  <hr>
  <p class="lead"><%= @event.content %></p>
  <hr class="my-4">
  <p><%= t('activerecord.attributes.event.date') + ": " + "#{@event.date.strftime("%Y/%m/%d (%a) %H:%M")}" %></p>
  <p><%= t('activerecord.attributes.event.length') + ": " + "#{@event.length}分" %></p>
  <% if @event.point == 0 %>
    <p><%= t('activerecord.attributes.event.number_of_point') + ": " + "無料" %></p>
  <% else %>
    <p><%= t('activerecord.attributes.event.number_of_point') + ": " + "#{@event.point}" + " pt" %></p>
  <% end %>
  <p>
    <%= t('activerecord.attributes.event.organizer') + ": " + User.find(@event.user_id).translated_name %>
  </p>
  <% if User.find(@event.user_id).image.file != nil %>
   <%= image_tag (User.find(@event.user_id).image.url), size:"100x100" %>
  <% else %>
    <%= image_tag 'avatar.png', size:"100x100" %>
  <% end %>
  
  <p class="card-text">
    <!-- イベント参加を中止する -->
    <% if current_user.present? && @tickets.present? && current_user.id != @event.user_id %>
      <%= link_to t('activerecord.attributes.event.cancel'), ticket_path(ticket_id: @tickets.first.id), method: :delete,  class:"btn btn-danger btn-lg button-margin" %>
    <% elsif current_user.present? && current_user.id != @event.user_id %>
    <!-- イベントに参加する -->
      <hr>
      <%= link_to t('activerecord.attributes.event.join'), tickets_path(event_id: @event.id, user_id: current_user.id), method: :post, class:"btn btn-success btn-lg button-margin" %>
    <% end %>
    
    <!-- ユーザー登録をしていない場合のメッセージ表示　-->
    <% unless current_user.present? %>
      <h3><%= t('activerecord.attributes.user.registration_message') %></h3>
      <%= link_to t('activerecord.attributes.user.guide_to_user_registration'), new_user_registration_path, class:"btn btn-primary button-margin" %>
    <% end %>

    <% if current_user.present? && Event.where(id: current_user.tickets.pluck(:event_id)).select { |e| e[:id] == @event.id}.count != 0 %>
      <%= link_to t('activerecord.attributes.button.click'), "#{@event.location}", class:"btn btn-primary btn-lg" %>
    <% end %>
  </p>
  <% if current_user.present? && current_user.id == @event.user_id %>
    <hr class="my-4">
    <h3 class="display-5 orange-letter">
      <span><%= "~" %></span>
      <%= t('activerecord.attributes.event.participant') %>
      <span><%= "~" %></span>
    </h3>
    <% @event.tickets.each do |t| %>
      <%= User.find(t.user_id).translated_name %>
    <% end %>
    <hr>
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <%= t('activerecord.attributes.event.shared_memo') %>
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <form action="/events/memo" method="post" class="" onSubmit="return checkSubmit()">
        <textarea id="memo_content" name="memo_content" placeholder="<%= t('activerecord.attributes.event.how_to_use_memo') %>"></textarea>
        <input type="hidden" name="id" value="<%= @event.id %>" >
        <input type="submit" value="<%= t('activerecord.attributes.event.send') %>" class="btn btn-success button-margin-sm">
      </form>
    </div>
     <span class="button-right">
      <%= link_to t('activerecord.attributes.button.delete'), event_path(id: @event.id), method: :delete,  data: {confirm: t('activerecord.attributes.button.are_you_sure_to_delete')}, class:"btn btn-danger button-margin" %>
    </span>
    <% if @event.status == false %>
      <span class="button-right">
        <%= link_to t('activerecord.attributes.button.duplicate'), new_event_path(event_id: @event.id), class:"btn btn-primary button-margin" %>
      </span>
    <% end %>
  <% end %>
</div>

<%= link_to :back do %>
  <%= link_to t("activerecord.attributes.button.back"), :back, class:"btn btn-secondary button-margin"  %>
<% end %>


