<% if params[:status] == "one_shot" %>
  <% one_shot_button_color = "btn-warning button-border" %>
  <% seven_days_button_color = "btn-outline-secondary button-border" %>
  <% achievement_title = "activerecord.attributes.challenge.achievement_rate" %>
<% else %>
  <% one_shot_button_color = "btn-outline-secondary button-border" %>
  <% seven_days_button_color = "btn-warning button-border" %>
  <% achievement_title = "activerecord.attributes.challenge.seven_days_achievement_rate" %>
<% end %>

<h3>
  <%= @challenge.title %>
  <%= "(" %>
  <%= @challenge.items.pluck(:percentage).sum %>
  <%= "%" %>
  <%= ")" %>

</h3>
<% @challenge.items.each do |i| %>
  <div>
    
    <%= i.name %>
    <%= "(" %>
    <%= i.percentage %>
    <%= "%" %>
    <%= ")" %>
  </div>
<% end %>
<table class="table table-default table-striped">
  <thead>
    <th></th>
    <th><%= t("#{achievement_title}") %></th>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td style="width:30%"><%= u.translated_name %></td>
        <td style="width:50%">
          <div class="progress" style="height: 30px;">
            <div class="progress-bar" role="progressbar" style='width: <%= @challenge.reports.where(user_id: u.id).last.total_percentage %>%;' aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"><%= @challenge.reports.where(user_id: u.id).last.total_percentage %>%</div>
          </div>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.id == @challenge.author_id && @challenge.progress == "awaiting" %>
  <%= link_to t('activerecord.attributes.challenge.confirm'), progress_challenges_path(id: @challenge.id), method: :post, class:"btn btn-primary btn-lg pull-right button-margin" %>
<% end %>
<%= link_to t('activerecord.attributes.button.back'), challenges_path(status: "one_shot"), class:"btn btn-secondary button-margin" %>