<div row>
  <div class="col-md-6">
    <div class="card worksheet-basic-setting">
      <div class="card-header worksheet-bg">
        <h3><%= t('activerecord.attributes.user.edit') %></h3>
      </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages %>
            <div>
              <%= f.label :image, t('activerecord.attributes.user.image') %>
              <%= t('activerecord.attributes.user.image_extension_allowed') %>
              <%= f.file_field :image, onchange: 'previewImage()' %>
              <%= f.hidden_field :image_cache %>
              <% if resource.image.url.present? %>
                <%= image_tag resource.image.url, class: 'rounded-circle mt-3', id: 'preview', size: '100x100' %>
              <% else %>
                <%= image_tag asset_path("avatar.png"), size: '100x100', class:"button-margin" %>
              <% end %>
            
            </div>
            <br>

            <div class="form-group">
              <%= f.label :ja_name, t('activerecord.attributes.ja_name') %><br />
              <%= f.text_field :ja_name, class: "form-control" %>
            </div>
            
            <div class="form-group">
              <%= f.label :en_name, t('activerecord.attributes.en_name')  %><br />
              <%= f.text_field :en_name, class: "form-control" %>
            </div>
            
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <%= "(" + t('devise.blank_for_no_change') + ")" %><br />
              <i><%= "~ " %><%= @minimum_password_length %> <%= t('devise.password_length') %><%= " ~" %></i>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>

            <div class="actions">
              <%= f.submit t('activerecord.attributes.button.update'), class:"btn btn-info" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function previewImage() {
    const target = this.event.target;
    const file = target.files[0];
    const reader  = new FileReader();
    reader.onloadend = function () {
      const preview = document.querySelector("#preview")
      if(preview) {
          preview.src = reader.result;
      }
    }
    if (file) {
        reader.readAsDataURL(file);
    }
  }
</script>

